* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --background: rgb(232, 252, 252);
  --primary: #00adad;
  --button: linear-gradient(0deg, rgb(1, 116, 116) 0%, rgb(95, 253, 253) 100%);
  --shadow: 0 0 3px var(--primary);
}

nav menu {
  list-style: none;
}
body {
  display: grid;
}

/* HEADER */

header {
  box-shadow: 0 0 3px var(--primary);
  color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
}
header > nav > menu {
  display: flex;
}
header form {
  width: fit-content;
  box-shadow: var(--shadow);
}

header form label {
  display: none;
}

header form input {
  padding: 0.2rem;
  outline: none;
  border: none;
}

header form button {
  border: none;
  background: var(--button);
  color: white;
  padding: 0.2rem;
  font-weight: bold;
}

header menu a {
  display: inline-block;
  font-size: 0;
  height: 1.5rem;
  width: 1.5rem;
  background-size: contain;
}

header menu a[href*="wishlist"] {
  background-image: url("icons/heart.png");
}

header menu a[href*="cart"] {
  background-image: url("icons/cart.png");
}
header menu a[href*="profile"] {
  background-image: url("icons/user.png");
}

/* NAV*/
.menu_nav {
  display: flex;
  justify-content: space-around;
}
body > nav menu a {
  color: var(--primary);
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
}

body > nav menu a:hover {
  background: var(--background);
}

/* MAIN */

main {
  background: var(--background);
  padding: 1rem;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 1em;
  grid-row-gap: 2em;
}

article {
  background: white;
  box-shadow: var(--shadow);
  width: 10rem;
  height: 20rem;
  border-radius: 10px;
  overflow: hidden;
}

article img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

article *:not(img) {
  margin: 0.5rem 1rem;
}

article p.price {
  text-align: right;
}
.no_mobile {
  display: none;
}
/* Footer */
footer {
  display: flex;
  justify-content: space-around;
}
footer a {
  color: var(--primary);
}

@media (min-width: 350px) {

  body {
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: minmax(100px,auto);
    grid-gap: 10px;
    grid-template-areas: 
    "header header header header"
    "nav main main main"
    "nav main main main"
    "nav main main main"
    "footer footer footer footer";
  }


  /* HEADER */

  header {
    z-index: 1;
    padding: 0 2rem;
    grid-area: header;
    flex-direction: row;
    justify-content: space-between;
  }

  /* NAV */

  .menu_nav {
    grid-area: nav ;
    flex-direction: column;
  }

  body > nav {
    padding-top: 1rem;
  }

   /* MAIN */

  main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .no_mobile {
    display: block;
  }

  /* Footer */

footer {
    grid-area: footer;
    justify-content: center;
  }

}

