header {
    background-color: #448ff1;
    color: white;
    text-align: center;
    padding: 10px;
}
main {
    margin: 20px;
}
h2 {
    color: #448ff1
}
ul {
    list-style: circle;
}
li {
    margin-top: 10px;
}
.importante {
    text-decoration: underline;
    font-weight: bold;
}
table {
    text-align: center;
    margin: 20px;
}
th,td {
    padding: 15px;
}
thead {
    background-color: #448ff1;
    color: white;
    
}
tr:nth-child(even){
    background-color: rgb(127, 182, 255);
}
tbody > tr:nth-child(odd) {
    background-color: rgb(195, 206, 212);
}
#descanso {
    font-weight: bold;
    font-size: x-large;
}
tbody >tr:nth-child(odd) > th {
    background-color: rgb(147, 178, 219);
}